.custom-radio-square-2 label input{
  min-width: 20px;
  min-height: 20px;
  margin: 0 !important;
}

.custom-radio-square-2 [type="radio"]:checked,.custom-radio-square-2 [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custom-radio-square-2 [type="radio"]:checked + .custom-radio-square-2__label,.custom-radio-square-2 [type="radio"]:not(:checked) + .custom-radio-square-2__label {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  display: flex;
  padding: 30% 32%; 
  margin: 0;
  color: black;
}

.custom-radio-square-2 [type="radio"]:checked + .custom-radio-square-2__label:before,.custom-radio-square-2 [type="radio"]:not(:checked) + .custom-radio-square-2__label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 39px;
  height: 39px;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  background: transperent;
}

.custom-radio-square-2 [type="radio"]:checked + .custom-radio-square-2__label:after,.custom-radio-square-2 [type="radio"]:not(:checked) + .custom-radio-square-2__label:after {
  content: '';
  width: 36px;
  height: 36px;
  background: transparent;
  border: 6px solid #FFC700;
  position: absolute;
  top: -3px;
  left: -3px;
  border-radius: 0%;
  -webkit-transition: all .2s ease;
  transition: all .6s ease;
}

.custom-radio-square-2 [type="radio"]:not(:checked) + .custom-radio-square-2__label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custom-radio-square-2 [type="radio"]:checked + .custom-radio-square-2__label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom-radio-square-2 label {
  margin: 0;
  padding: 0;
  width: 41px !important;
  height: 42px !important;
}